{% extends 'base.html' %}

{% block title %}Pacientes{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Pacientes</h3>
    <a href="{% url 'pacientes_novo' %}" class="btn btn-primary">Novo Paciente</a>
</div>

<form method="get" class="mb-3">
    <div class="d-flex align-items-center gap-2">
        <input
            type="text"
            name="pesquisa"
            class="form-control"
            placeholder="Pesquisar Paciente"
            value="{{ busca }}"
        >

        <button type="submit" class="btn btn-primary">
            Pesquisar
        </button>

        <div class="form-check mb-0">
            <input
                type="checkbox"
                name="incluir_inativos"
                id="incluir_inativos"
                class="form-check-input"
                {% if incluir_inativos %}checked{% endif %}
            >
            <label class="form-check-label" for="incluir_inativos">
                Incluir inativos
            </label>
        </div>
    </div>
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Data de Nascimento</th>
            <th>Status</th>    
            <th>Ações</th>           
        </tr>
    </thead>
    <tbody>
        {% for p in pacientes %}
        <tr>
            <td>{{ p.nome_completo }}</td>
            <td>{{ p.cpf }}</td>
            <td>{{ p.telefone }}</td>
            <td>{{ p.data_nascimento }}</td>
            <td>{{ p.ativo }}</td>
            <td>
                <a href="{% url 'pacientes_editar' p.id %}" class="btn btn-sm btn-outline-primary">Editar</a>

                <form method="post" action="{% url 'pacientes_excluir' p.id %}" class="d-inline">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-outline-danger">Excluir</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum paciente cadastrado</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
